.openMenu {
  left: 0% !important;
}

.xIcon {
  background-image: url('/assets/icons/x.svg') !important;
}

.selected {
  color: var(--primaryColor) !important;
  font-weight: 700 !important;
}

.tweenEnd {
  margin-right: 0 !important;
  opacity: 1 !important;
}
