:root {
  --bg-body: #fff;
  --bg-header: #000;
  --primaryColor: #fe7676;
  --fontSize: 16px;
  --fontFamily: 'Montserrat', sans-serif;
  --fontFamilyAlternate: 'Roboto', sans-serif;
}

@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 1024px);
@custom-media --desktopHD (min-width: 1224px);
