.navbar {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: calc(1rem + 5px) calc(3rem + 2px) calc(1rem + 5px) calc(1.5rem + 2px);
  align-items: center;
  width: 100%;

  @media (--tablet) {
    padding: calc(1rem + 5px) calc(3rem + 2px) calc(1rem + 5px) calc(4rem + 20px);
  }

  &__items {
    &--mobile {
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100vh;
      position: absolute;
      background: black;
      top: 0;
      bottom: 0;
      left: 100%;
      transition: .6s ease-in-out left;

      @media (--tablet) {
        display: none;
      }

      li {
        margin: 0 !important;
        font-size: 1.2rem !important;
        margin-bottom: 2.5rem !important;

        &:first-child {
          margin-top: 6rem !important;
        }
      }
    }
    &--desktop {
      display: none;

      @media (--tablet) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    li {
      list-style-type: none;
      @mixin rem font-size, 12;
      @mixin rem margin-right, 18;

      @media (--desktop) {
        @mixin rem font-size, 14;
        @mixin rem margin-right, 38;
      }

      p {
        font-weight: 500;
      }
    }
  }

  &__search {
    z-index: 1;
    &__area {
      position: relative;

      &__input {
        color: #4a4a4a;
        font-weight: 300;
        font-family: var(--fontFamily);
        @mixin rem font-size, 10;
        @mixin rem width, 221;
        @mixin rem height, 27;
        @mixin rem padding, 11;
        padding-right: 2rem;
        border-radius: 8px;
        outline: none;
        border: none;

        &::placeholder {
          font-family: var(--fontFamily);
          color: #4a4a4a;
        }

        @media (--desktop) {
          @mixin rem font-size, 12;
        }
      }
      &__icon {
        position: absolute;
        top: 25%;
        right: .8rem;
        background: url('/assets/icons/search.svg');
        background-size: contain;
        background-repeat: no-repeat;
        @mixin rem width, 14;
        @mixin rem height, 14;
      }
    }
  }

  &__icon {
    background: url('/assets/icons/menu.svg');
    background-size: contain;
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    position: absolute;
    right: 1.7rem;
    top: 1.3rem;
    z-index: 2;

    @media (--tablet) {
      display: none;
    }
  }
}
